venv/pyvenv.cfg
venv/Lib/site-packages/AUTHORS.rst
venv/Lib/site-packages/CONTRIBUTING.rst
venv/Lib/site-packages/deprecation.py
venv/Lib/site-packages/distutils-precedence.pth
venv/Lib/site-packages/HISTORY.rst
venv/Lib/site-packages/LICENSE
venv/Lib/site-packages/Makefile
venv/Lib/site-packages/MANIFEST.in
venv/Lib/site-packages/playsound.py
venv/Lib/site-packages/poetry.lock
venv
temp
outputmp3
myapkg
__pycache__
selectednotes
Selected Notes.txt
__pycache__/cutwords.cpython-311.pyc
1.txt
2.txt
3g.txt
4r.txt
__pycache__/cutwords.cpython-311.pyc
__pycache__/cutwords.cpython-311.pyc
__pycache__/cutwords.cpython-311.pyc
