venv/pyvenv.cfg
venv/Lib/site-packages/AUTHORS.rst
venv/Lib/site-packages/CONTRIBUTING.rst
venv/Lib/site-packages/deprecation.py
venv/Lib/site-packages/distutils-precedence.pth
venv/Lib/site-packages/HISTORY.rst
venv/Lib/site-packages/LICENSE
venv/Lib/site-packages/Makefile
venv/Lib/site-packages/MANIFEST.in
venv/Lib/site-packages/playsound.py
venv/Lib/site-packages/poetry.lock
venv
temp
outputmp3
myapkg
__pycache__
selectednotes
Selected Notes.txt
__pycache__/cutwords.cpython-311.pyc
1.txt
2.txt
3g.txt
4r.txt
__pycache__/cutwords.cpython-311.pyc
__pycache__/cutwords.cpython-311.pyc
__pycache__/cutwords.cpython-311.pyc
__pycache__/cutwords.cpython-311.pyc
__pycache__/cutwords.cpython-311.pyc
build/tts/Analysis-00.toc
build/tts/base_library.zip
build/tts/EXE-00.toc
build/tts/PKG-00.toc
build/tts/PYZ-00.pyz
build/tts/tts.pkg
build/tts/Analysis-00.toc
build/tts/base_library.zip
build/tts/EXE-00.toc
build/tts/PKG-00.toc
build/tts/PYZ-00.pyz
build/tts/tts.pkg
build/tts/warn-tts.txt
build/tts/xref-tts.html
build/tts/tts.exe.manifest
build/tts/localpycs/pyimod01_archive.pyc
build/tts/localpycs/pyimod02_importers.pyc
build/tts/localpycs/pyimod03_ctypes.pyc
build/tts/localpycs/pyimod04_pywin32.pyc
build/tts/localpycs/struct.pyc
build/tts/PYZ-00.toc
.vscode/extensions.json
dist/tts/_bz2.pyd
dist/tts/_ctypes.pyd
dist/tts/_decimal.pyd
dist/tts/_hashlib.pyd
dist/tts/_lzma.pyd
dist/tts/_queue.pyd
dist/tts/_socket.pyd
dist/tts/_sqlite3.pyd
dist/tts/_ssl.pyd
dist/tts/_win32sysloader.pyd
dist/tts/api-ms-win-core-console-l1-1-0.dll
dist/tts/api-ms-win-core-datetime-l1-1-0.dll
dist/tts/api-ms-win-core-debug-l1-1-0.dll
dist/tts/api-ms-win-core-errorhandling-l1-1-0.dll
dist/tts/api-ms-win-core-file-l1-1-0.dll
dist/tts/api-ms-win-core-file-l1-2-0.dll
dist/tts/api-ms-win-core-file-l2-1-0.dll
dist/tts/api-ms-win-core-handle-l1-1-0.dll
dist/tts/api-ms-win-core-heap-l1-1-0.dll
dist/tts/api-ms-win-core-interlocked-l1-1-0.dll
dist/tts/api-ms-win-core-libraryloader-l1-1-0.dll
dist/tts/api-ms-win-core-localization-l1-2-0.dll
dist/tts/api-ms-win-core-memory-l1-1-0.dll
dist/tts/api-ms-win-core-namedpipe-l1-1-0.dll
dist/tts/api-ms-win-core-processenvironment-l1-1-0.dll
dist/tts/api-ms-win-core-processthreads-l1-1-0.dll
dist/tts/api-ms-win-core-processthreads-l1-1-1.dll
dist/tts/api-ms-win-core-profile-l1-1-0.dll
dist/tts/api-ms-win-core-rtlsupport-l1-1-0.dll
dist/tts/api-ms-win-core-string-l1-1-0.dll
dist/tts/api-ms-win-core-synch-l1-1-0.dll
dist/tts/api-ms-win-core-synch-l1-2-0.dll
dist/tts/api-ms-win-core-sysinfo-l1-1-0.dll
dist/tts/api-ms-win-core-timezone-l1-1-0.dll
dist/tts/api-ms-win-core-util-l1-1-0.dll
dist/tts/api-ms-win-crt-conio-l1-1-0.dll
dist/tts/api-ms-win-crt-convert-l1-1-0.dll
dist/tts/api-ms-win-crt-environment-l1-1-0.dll
dist/tts/api-ms-win-crt-filesystem-l1-1-0.dll
dist/tts/api-ms-win-crt-heap-l1-1-0.dll
dist/tts/api-ms-win-crt-locale-l1-1-0.dll
dist/tts/api-ms-win-crt-math-l1-1-0.dll
dist/tts/api-ms-win-crt-process-l1-1-0.dll
dist/tts/api-ms-win-crt-runtime-l1-1-0.dll
dist/tts/api-ms-win-crt-stdio-l1-1-0.dll
dist/tts/api-ms-win-crt-string-l1-1-0.dll
dist/tts/api-ms-win-crt-time-l1-1-0.dll
dist/tts/api-ms-win-crt-utility-l1-1-0.dll
dist/tts/base_library.zip
dist/tts/libcrypto-1_1.dll
dist/tts/libffi-7.dll
dist/tts/libssl-1_1.dll
dist/tts/python310.dll
dist/tts/select.pyd
dist/tts/sqlite3.dll
dist/tts/tts.exe
dist/tts/ucrtbase.dll
dist/tts/unicodedata.pyd
dist/tts/VCRUNTIME140.dll
dist/tts/pywin32_system32/pythoncom310.dll
dist/tts/pywin32_system32/pywintypes310.dll
1test.mp3
2test.mp3
3test.mp3
4test.mp3
dist/tts.exe
tts.exe
dist/tts.exe
mytempanki.db
dist/readcolored.exe
build/readcolored/Analysis-00.toc
build/readcolored/base_library.zip
build/readcolored/EXE-00.toc
build/readcolored/PKG-00.toc
build/readcolored/PYZ-00.pyz
build/readcolored/PYZ-00.toc
build/readcolored/readcolored.exe.manifest
build/readcolored/readcolored.pkg
build/readcolored/warn-readcolored.txt
build/readcolored/xref-readcolored.html
build/readcolored/localpycs/pyimod01_archive.pyc
build/readcolored/localpycs/pyimod02_importers.pyc
build/readcolored/localpycs/pyimod03_ctypes.pyc
build/readcolored/localpycs/pyimod04_pywin32.pyc
build/readcolored/localpycs/struct.pyc
mytempanki.db
readcolored.spec
mytempanki.db
readcolored.exe
mytempanki.db
dist/tts.exe
dist/tts.exe
tts.exe
